.container {
  width: 100%;
  max-width: 768px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.headerTitle {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

.headerButton {
  color: #ffffff;
  font-size: 18px;
  border-bottom: 2px solid #ffffff;
  text-transform: uppercase;
}
