* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

body {
  background-color: lightcoral;
  color: #ffffff;
  font-family: sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 2rem 1.5rem;
}
