* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

body {
    background-color: lightcoral;
    color: #ffffff;
    font-family: sans-serif;
}

main {
    min-height: 100vh; /* main 최소높이 100% */
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
}

.app {
    width: 100%;
    max-width: 768px;
}

.app header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.app header h1 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
}

.app header button {
    color: #ffffff;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    text-transform: uppercase; /* 텍스트를 모두 대문자로 변환 */
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: lightblue;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

.item:last-of-type {
    margin-bottom: 0; /* 마지막 item은 margin-bottom: 0 */
}

.item input[type="checkbox"] {
    margin-right: 1rem;
}

.item input[type="text"] {
    appearance: none; /* 기본 브라우저 스타일 제거 */
    background: none;
    border: none;
    font-weight: 400;
    color: black;
    font-size: 20px;
    flex: 1 1 0%; /* flex 아이템의 증가/감소/기본크기 설정 */
    margin-right: 1rem;
}


.item input[type="text"]:not(:disabled) {
    /* (비활성화되지 않은 텍스트 입력창에서) 하단 테두리를 설정 */
    border-bottom: 2px solid #ffffff;
}

.item.complete {
    opacity: 0.7;
}

.item.complete input[type="text"] {
    text-decoration: line-through; /* 취소선 */
}

.item:hover,
.item:focus-within {
    /* 마우스가 올라갔을 때(:hover)나
    내부 요소가 포커스를 받았을 때(:focus-within)
    흰색 2픽셀 실선 외곽선이 표시됨 */
    outline: 2px solid #ffffff;
}

.item.editing {
    outline: 2px solid #ffffff;
}

.actions button {
    color: crimson;
    margin-right: 1rem;
    opacity: 0.8;
    transition: 0.1s;
}

.actions button.material-icons:nth-child(2) {
    color: green;
}

.actions button.material-icons:nth-child(3) {
    color: #444444;
}

.actions button:hover {
    opacity: 1;
}

.actions button:last-of-type {
    margin-right: 0; /* 버튼 중 마지막 버튼의 오른쪽 여백 제거 */
}
